<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-scale-party"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="congrates-container">
    <div class="congrates-wrapper">
        <div class="congrates-title">View the congrates:</div>
        <div class="congrates-content">
            Artem Hontar results
            <div class="congrates-content-row">
                <div class="congrates-content-item congrates-content-item-chart">
                    <div class="congrates-content-chart-name">
                        Pie chart
                    </div>
                    <div class="congrates-content-chart-value">
                        <app-my-pie-chart *ngIf="userResultsChartData" [pieChartData]="userResultsChartData"></app-my-pie-chart>
                    </div>
                </div>
                <div class="congrates-content-item-group">
                    <div class="congrates-content-item">
                        <div class="congrates-content-item-name">
                            Average score by quiz
                        </div>
                        <div class="congrates-content-item-value">
                            {{userStatistic.scoreForQuiz}}
                        </div>
                    </div>
                    <div class="congrates-content-item">
                        <div class="congrates-content-item-name">
                            English level
                        </div>
                        <div class="congrates-content-item-value">
                            {{englishLevels[userStatistic.englishLevel]}}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            Quiz results
            <div class="congrates-content-row">
                <div class="congrates-content-item-group">
                    <div class="congrates-content-item">
                        <div class="congrates-content-item-name">
                            Average score by quiz
                        </div>
                        <div class="congrates-content-item-value">
                            {{quizStatistic.passedPercent}}
                        </div>
                    </div>
                    <div class="congrates-content-item">
                        <div class="congrates-content-item-name">
                            Total Passed Quizzes
                        </div>
                        <div class="congrates-content-item-value">
                            {{quizStatistic.passedPercent}}
                        </div>
                    </div>
                </div>
                <div class="congrates-content-item congrates-content-item-chart">
                    <div class="congrates-content-chart-name">
                        Pie chart
                    </div>
                    <div class="congrates-content-chart-value">
                        <app-my-bar-chart *ngIf="quizLastScoresChartData" [barChartData]="quizLastScoresChartData" [barChartLabels]="quizLastScoresChartLabels"></app-my-bar-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>