.congrates-container {
    display: flex;
    justify-content: center;
    .congrates-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 90%;
        .congrates-title {
            display: flex;
            padding: 20px;
            font-weight: bold;
        }
        .congrates-content {
            display: flex;
            border: 1px solid #C7BCBC;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;

            
            .congrates-content-row {
                margin: 10px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .congrates-content-item-group {
                    display: flex;
                    width: 50%;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    .congrates-content-item {
                        margin: 20px 0;
                        width: 60%;
                    }
                }

                .congrates-content-item {
                    margin: 0 10px;
                    display: flex;
                    flex-direction: column;
                    border: 1px solid black;
                    border-radius: 5px;
                    align-items: center;
                    width: 30%;
                    padding: 10px;
                    .congrates-content-item-name {
                        font-weight: bold;
                        height: 30px;
                        width: 100%;
                    }
                    .congrates-content-item-value {
                        font-size: 30px;
                        height: 30px;
                        width: 100%;
                    }
                    .congrates-content-chart-name {
                        font-weight: bold;
                        height: 40px;
                        width: 100%;
                    }

                    .congrates-content-chart-value {
                        font-size: 30px;
                        height: 40px;
                        width: 100%;
                        height: 300px;
                    }
                    .chart {
                        background: url("../../../../../assets/img/chart.svg");
                        background-size: auto;
                        background-repeat: no-repeat;
                    }

                    .pie-chart {
                        background: url("../../../../../assets/img/pie-chart.svg");
                        background-size: auto;
                        background-repeat: no-repeat;
                    }
                }
                .congrates-content-item-chart{
                    width: 50%;
                }
            }
        }
    }
}