<div class="add-quiz-container">
    <div class="add-quiz-wrapper">
        <div class="add-quiz-title">Add the quiz</div>
        <div class="add-quiz-content">
            <form class="add-quiz-content-inputs" [formGroup]="quizForm" (ngSubmit)="onSubmit()">
                <div class="add-quiz-content-inputs-quiz-group">
                    <div class="add-quiz-div-input">
                        <label>Quiz Name</label>
                        <input type="text" formControlName="title"/>
                    </div>
                    <div class="add-quiz-div-input">
                        <label>Quiz Level</label>
                        <mat-select formControlName="priority">
                            <mat-option *ngFor="let key of keys" [value]="key">
                              {{priorities[key]}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                
                <div class="add-quiz-div-input-question-group" formArrayName="questions">
                    <h3>Questions</h3> 
                    <div class="input-question-group-item" *ngFor="let question of questions.controls; let questionIndex=index">
                        <div class="input-question-group-item-wrapper" [formGroupName]="questionIndex">
                            <div class="add-quiz-div-input">
                                <label>Question</label>
                                <input type="text" formControlName="title">
                            </div>
                            <div class="input-option-group-item-wrapper" formArrayName="options">
                                <div class="input-option-group-item" *ngFor="let option of getOptionsFor(questionIndex); let optionIndex=index">
                                    <div class="add-quiz-div-input" [formGroupName]="optionIndex">
                                        <label>Option</label>
                                        <input type="text" formControlName="value"/>
                                    </div>
                                </div>
                            </div>
                            <div class="add-quiz-div-button">
                                <button type="button" (click)="addOption(questionIndex)">Add option</button>
                            </div>
                        </div>
                    </div>
                    <div class="add-quiz-div-button">
                        <button type="button" (click)="addQuestion()">Add question</button>
                    </div>
                    
                </div>
                <div class="add-chapter-div-buttons">
                    <div class="add-chapter-div-button">
                        <button (click)="returnBackClick()" >Return back</button>
                    </div>
                    <div class="add-chapter-div-button last">
                        <button type="submit" [disabled]="!quizForm.valid">Save changes</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>