$top-bar-height: 70px;

.top-bar-container {
    height: $top-bar-height;
    display: flex;
    flex-direction: row;
    background: #FEC600; 
    .top-bar-wrapper {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        .top-bar-item.align-left {
            min-width: 70px;
            height: $top-bar-height - 10px;
            margin-right: 50px;
            font-size: 20px;
            display: flex;
            align-items: center;
            &:hover{
                cursor: pointer;
                color: gray;
            }
        }
        .push-to-right{
            margin-left: auto;
            margin-right: 30px;
        }
        .top-bar-item.align-right {
            min-width: 70px;
            height: $top-bar-height - 10px;
            font-size: 20px;
            font-style: italic;
            display: flex;
            align-items: center;
            &:hover{
                cursor: pointer;
                color: gray;
            }
            .top-bar-item-account {
                margin-left: 10px;
                width: $top-bar-height - 30px;
                height: $top-bar-height - 30px;
                background: url("../../assets/img/account-icon.svg");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
    
    
}