<div class="choose-chapter-container">
    <div class="choose-chapter-wrapper">
        <div class="choose-chapter-title">Choose the chapter:</div>
        <div class="choose-chapter-content">
            <div class="choose-chapter-content-title">
                <div class="choose-chapter-content-title-row">
                    Name
                </div>
                <div class="choose-chapter-content-title-row">
                    Level
                </div>
            </div>
            <div class="choose-chapter-content-table">
                <div class="choose-chapter-content-table-row">
                    <div class="choose-chapter-content-title-row-item">
                        English Grammar - Past Simple Tense
                    </div>
                    <div class="choose-chapter-content-title-row-item">
                        Beginer
                    </div>
                </div>
                <div class="choose-chapter-content-table-row">
                    <div class="choose-chapter-content-title-row-item">
                        English Grammar - Past Simple Tense
                    </div>
                    <div class="choose-chapter-content-title-row-item">
                        Beginer
                    </div>
                </div>
                <div class="choose-chapter-content-table-row">
                    <div class="choose-chapter-content-title-row-item">
                        English Grammar - Past Simple Tense
                    </div>
                    <div class="choose-chapter-content-title-row-item">
                        Beginer
                    </div>
                </div>
                <div class="choose-chapter-content-table-row">
                    <div class="choose-chapter-content-title-row-item">
                        English Grammar - Past Simple Tense
                    </div>
                    <div class="choose-chapter-content-title-row-item">
                        Beginer
                    </div>
                </div>
                <div class="choose-chapter-content-table-row">
                    <div class="choose-chapter-content-title-row-item">
                        English Grammar - Past Simple Tense
                    </div>
                    <div class="choose-chapter-content-title-row-item">
                        Beginer
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>