<div class="statistic-container">
    <div class="statistic-wrapper">
        <div class="statistic-title">View the statistic:</div>
        <div class="statistic-content">
            <div class="statistic-content-row">
                <div class="statistic-content-item">
                    <div class="statistic-content-item-name">
                        Total passed quizzes
                    </div>
                    <div class="statistic-content-item-value">
                        {{userStatistic.totalPassedQuizzes}}
                    </div>
                </div>
                <div class="statistic-content-item">
                    <div class="statistic-content-item-name">
                        Average score by quiz
                    </div>
                    <div class="statistic-content-item-value">
                        {{userStatistic.averageScoreByQuizPercent}}
                    </div>
                </div>
                <div class="statistic-content-item">
                    <div class="statistic-content-item-name">
                        English level
                    </div>
                    <div class="statistic-content-item-value">
                        {{userStatistic.englishLevel}}
                    </div>
                </div>
            </div>
            <div class="statistic-content-row">
                <div class="statistic-content-item statistic-content-item-chart">
                    <div class="statistic-content-chart-name">
                        Pie chart
                    </div>
                    <div class="statistic-content-chart-value pie-chart">
                        
                    </div>
                </div>
                <div class="statistic-content-item statistic-content-item-chart">
                    <div class="statistic-content-chart-name">
                        Chart
                    </div>
                    <div class="statistic-content-chart-value chart">
                        
                    </div>
                </div>
            </div>
            <div class="statistic-content-row">
                <div class="statistic-content-item">
                    <div class="statistic-content-item-name">
                        Total passed questions
                    </div>
                    <div class="statistic-content-item-value">
                        {{userStatistic.totalPassedQuestions}}
                    </div>
                </div>
                <div class="statistic-content-item">
                    <div class="statistic-content-item-name">
                        Total failed questions
                    </div>
                    <div class="statistic-content-item-value">
                        {{userStatistic.totalFailedQuestions}}
                    </div>
                </div>
                <div class="statistic-content-item">
                    <div class="statistic-content-item-name">
                        Passed/failed percent
                    </div>
                    <div class="statistic-content-item-value">
                        {{userStatistic.totalPassedQuizzes}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>