<div class="choose-chapter-container">
    <div class="choose-chapter-wrapper">
        <div class="choose-chapter-title">Choose the chapter:</div>
        <div class="choose-chapter-content">
            <div class="choose-chapter-content-title">
                <div class="choose-chapter-content-title-row">
                    Name
                </div>
                <div class="choose-chapter-content-title-row">
                    Level
                </div>
            </div>
            <div class="choose-chapter-content-table">
                <div class="choose-chapter-content-table-row" *ngFor="let chapter of chapters | async">
                    <div class="choose-chapter-content-table-wrapper" [routerLink]="[chapter.id, 'quizzes']" routerLinkActive="router-link-active">
                        <div class="choose-chapter-content-table-row-item">
                            {{chapter.name}}
                        </div>
                        <div class="choose-chapter-content-table-row-item">
                            {{englishLevels[chapter.englishLevel]}}
                        </div>
                    </div>
                    <div class="choose-chapter-content-table-item-delete" (click)="deleteChapter(chapter.id)">
                        <img src="../../../assets/img/trash.svg" width="25px" height="25px">
                    </div>
                </div>
            </div>
            <div class="choose-chapter-div-button">
                <button [routerLink]="['add-chapter']" routerLinkActive="router-link-active">Add chapter</button>
            </div>
        </div>
    </div>
</div>