<div class="choose-quiz-container">
    <div class="choose-quiz-wrapper">
        <div class="choose-quiz-title">Choose the quizzes:</div>
        <div class="choose-quiz-content">
            <div class="choose-quiz-content-title">
                <div class="choose-quiz-content-title-row">
                    Name
                </div>
                <div class="choose-quiz-content-title-row">
                    Priority
                </div>
            </div>
            <div class="choose-quiz-content-table">
                <div class="choose-quiz-content-table-row">
                    <div class="choose-quiz-content-title-row-item">
                        Past Simple Tense 
                    </div>
                    <div class="choose-quiz-content-title-row-item">
                        A0
                    </div>
                </div>
                <div class="choose-quiz-content-table-row">
                    <div class="choose-quiz-content-title-row-item">
                        Past Simple Tense 
                    </div>
                    <div class="choose-quiz-content-title-row-item">
                        A0
                    </div>
                </div>
                <div class="choose-quiz-content-table-row">
                    <div class="choose-quiz-content-title-row-item">
                        Past Simple Tense 
                    </div>
                    <div class="choose-quiz-content-title-row-item">
                        A0
                    </div>
                </div>
                <div class="choose-quiz-content-table-row">
                    <div class="choose-quiz-content-title-row-item">
                        Past Simple Tense 
                    </div>
                    <div class="choose-quiz-content-title-row-item">
                        A0
                    </div>
                </div>
                <div class="choose-quiz-content-table-row">
                    <div class="choose-quiz-content-title-row-item">
                        Past Simple Tense 
                    </div>
                    <div class="choose-quiz-content-title-row-item">
                        A0
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>