<div class="top-bar-container">
    <div class="top-bar-wrapper">
        <div class="top-bar-item align-left"></div>
        <div class="top-bar-item align-left" [routerLink]="['/chapters']">Go to Quizzes</div>
        <div class="top-bar-item align-left" [routerLink]="['/user-profile']">Go to User profile</div>
        <div class="top-bar-item align-left" [routerLink]="['/statistics']">Go to Statistic</div>
        <div class="top-bar-item align-right">
            Artem Hontar
            <div class="top-bar-item-account">

            </div>
        </div>
    </div>
</div>