.user-profile-container {
    display: flex;
    justify-content: center;
    .user-profile-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 80%;
        .user-profile-title {
            display: flex;
            padding: 20px;
            font-weight: bold;
        }
        .user-profile-content {
            height: 500px; //remove?
            display: flex;
            border: 1px solid #C7BCBC;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            
            .user-profile-content-inputs {
                font-style: italic;
                margin: 10px;
                height: 400px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: space-between;
                justify-content: space-between;
                .user-profile-div-input {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    mat-select {
                        border-radius: 5px;
                                height: 30px;
                                border: 1px solid black;
                    }
                    & input{
                        border-radius: 5px;
                        height: 30px;
                        border: 1px solid black;
                    }
                }
            } 
            .user-profile-div-buttons {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                .user-profile-div-button{
                    display: flex;
                    margin-right: 20px;
                    & button {
                        background: #FEC600;
                        height: 40px;
                        padding: 10px;
                        border-radius: 5px;
                        border: 0;
                        &:hover {
                            cursor: pointer;
                        }
                        &:active {
                            background: #FEC200;
                        }
                    }
                }
                .user-profile-div-button.last{
                    margin: 0;
                }
            }
        }
    }
}